.friendsSection {
    margin-top: 30px;
    max-width: 350px;
    background-color: #f4f4f4;
    padding: 50px 30px;
    border-radius: 8px;
    box-shadow: rgba(136, 165, 191, 0.48) 0px 0px 7px -1px;
}


.friendsList {

    display: grid;
    justify-content: normal;
    align-content: center;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 30px;
    margin-top: 30px;
}