.friendsSection {
    margin-top: 30px;
    max-width: 350px;
    background-color: #f4f4f4;
    padding: 50px 30px;
    border-radius: 8px;
    box-shadow: rgba(136, 165, 191, 0.48) 0px 0px 7px -1px;
}


.friendsList {
    display: grid;
    justify-content: normal;
    align-content: center;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 0 auto;
    padding: 30px;
    width: 240px;
}

.cardItem {
    display: flex;
}

.item {
    padding: 15px;
    display: flex;
    align-items: center;
    flex: 1 1;
    color: #888;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}


.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

.avatar {
    margin: 0 25px;
    width: 48px;
}


.name {
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
}

.onLine {
    background-color: green;
}

.offLine {
    background-color: red;
}